<a href="https://colab.research.google.com/github/VEENA9/Leaf-/blob/master/Arimac_by_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#lib

In [ ]:
!pip3 install Pillow
!pip3 install pytesseract
!pip3 install pdf2image
!sudo apt-get install tesseract-ocr
!apt-get install poppler-utils 
!pip install python-poppler

#Filtred DF

In [6]:
# get data from image
def save_df(df_img):

  table_Cv = df_img
  # image data to DF
  table_Cv_df = pd.DataFrame([x.split('\t') for x in table_Cv.split('\n')])
  # image data to DF
  # add headera same as 1st row
  table_Cv_df1 = table_Cv_df.rename(columns=table_Cv_df.iloc[0])
  # remove 1st row
  table_Cv_df1  = table_Cv_df1[1:]

  # filter DF (empty text, left and top 0, remove "e":line)
  Df_filter1 = table_Cv_df1.loc[(table_Cv_df1.text != ' ') & (table_Cv_df1.left != '0') & 
                              (table_Cv_df1.top != '0')& (table_Cv_df1.text != 'e')& (table_Cv_df1.text != "")]

  # print(Df_filter) 
  return Df_filter1

#DF by OCR

In [ ]:
import collections
import pandas as pd
import pdf2image
try:
    from PIL import Image
except ImportError:
    import Image
import pytesseract


def pdf_to_img(pdf_file):
    return pdf2image.convert_from_path('/content/drive/MyDrive/Example/Alagaretnam Elakyaveena.pdf')


def ocr_core(file):
    df_text = pytesseract.image_to_data(file)
    return df_text


def print_pages(pdf_file):
    images = pdf_to_img(pdf_file)
    Df_filter = pd.DataFrame([])
    for pg, img in enumerate(images):
        df_img = ocr_core(img)
        dff = save_df(df_img)
        df_head=find_head(dff)
        Df_filter = Df_filter.append(dff)
    print(dff)
    return dff
    # df.to_csv (r'/content/df.csv', index = False, header=True)
        


print_pages('sample.pdf')

#org

In [13]:
import numpy as np
from PIL import Image
import pytesseract
import sys
from pdf2image import convert_from_path
import os
import collections

# Path of the pdf
PDF_file = "/content/drive/MyDrive/Example/Chalani_Aththanayake_QA .pdf"

'''
Part #1 : Converting PDF to images
'''

# Store all the pages of the PDF in a variable
pages = convert_from_path(PDF_file, 500)

# Counter to store images of each page of PDF to image
image_counter = 1

# Iterate through all the pages stored above
for page in pages:

	# Declaring filename for each page of PDF as JPG
	# For each page, filename will be:
	# PDF page 1 -> page_1.jpg
	# PDF page 2 -> page_2.jpg
	# PDF page 3 -> page_3.jpg
	# ....
	# PDF page n -> page_n.jpg
	filename = "page_"+str(image_counter)+".jpg"
	
	# Save the image of the page in system
	page.save(filename, 'JPEG')

	# Increment the counter to update filename
	image_counter = image_counter + 1

'''
Part #2 - Recognizing text from the images using OCR
'''
	# 3
# Variable to get count of total number of pages
filelimit = image_counter-1

# Creating a text file to write the output
outfile = "out_text.txt"

# Open the file in append mode so that
# All contents of all images are added to the same file
f = open(outfile, "a")

# Iterate from 1 to total number of pages
for i in range(1, filelimit + 1):

	# Set filename to recognize text from
	# Again, these files will be:
	# page_1.jpg
	# page_2.jpg
	# ....
	# page_n.jpg
	filename = "page_"+str(i)+".jpg"
		
	# Recognize the text as string in image using pytesserct
	text = str(((pytesseract.image_to_string(Image.open(filename)))))

	# The recognized text is stored in variable text
	# Any string processing may be applied on text
	# Here, basic formatting has been done:
	# In many PDFs, at line ending, if a word can't
	# be written fully, a 'hyphen' is added.
	# The rest of the word is written in the next line
	# Eg: This is a sample text this word here GeeksF-
	# orGeeks is half on first line, remaining on next.
	# To remove this, we replace every '-\n' to ''.
	text = text.replace('-\n', '')	

	# Finally, write the processed text to the file.
	f.write(text)

# Close the file after writing all the text.
f.close()

#name

In [15]:
# get data from image
table_Cv = pytesseract.image_to_data(Image.open(filename))
# image data to DF
table_Cv_df = pd.DataFrame([x.split('\t') for x in table_Cv.split('\n')])
# print(table_Cv_df)
# table_Cv = pytesseract.image_to_data(Image.open(filename))
# image data to DF
# table_Cv_df = pd.DataFrame([x.split('\t') for x in table_Cv.split('\n')])
# add headera same as 1st row
table_Cv_df1 = table_Cv_df.rename(columns=table_Cv_df.iloc[0])
# remove 1st row
table_Cv_df1  = table_Cv_df1[1:]

# filter DF (empty text, left and top 0, remove "e":line)
Df_filter = table_Cv_df1.loc[(table_Cv_df1.text != ' ') & (table_Cv_df1.left != '0') & 
                             (table_Cv_df1.top != '0')& (table_Cv_df1.text != 'e')& (table_Cv_df1.text != "")]
name = (Df_filter.width) 
Df_filter.to_csv (r'/content/amilD.csv', index = False, header=True)
# get high widht size as it is a NAME
big_word =(max(Df_filter.width.astype(float)))
# get the big size word block number
block_num = Df_filter["block_num"].iloc[Df_filter["width"].astype(float).argmax()]
# find raws based same block_num 
df2 =Df_filter.loc[Df_filter["block_num"] == block_num]
# get text of same raw and mearg as a string.
ln = df2['text'].values
print(' '.join(ln))

ah Od Jf Internship — Atlink Communication Pvt Ltd (From August

#word

In [16]:
#find the word, get that row tuple
# word = "Experience"
word = "Education"
# find word tuple
df_tuple_word=Df_filter[Df_filter['text'].str.contains(word, na=False, case=False)]
# index of the word in original DF and next index of filter df////////////////
# array of filtred df index
place_num =Df_filter.index.values
# index of original df
word_index = df_tuple_word.index.values[0]
# original index number on array
x = np.where(place_num == word_index)
# next to filterd df index of word in array
index_new = x[0][0] + 1
# index of original df
next_indx = place_num[index_new]
# block number of next to word bloc number
next_blok_num = Df_filter.block_num[next_indx]
# print(next_blok_num)
# if heading and details in same block (check next raw is in same with word block number)
if (int(next_blok_num) == int(df_tuple_word['block_num'])):
  df3_b_num = int(df_tuple_word['block_num']) 
  
else:
  # sum one to find next raw num (experiance details in start from next line of experiance)
  df3_b_num = int(df_tuple_word['block_num']) + 1
# get df that: experiance data in same block number
df_same_bloc_num =df_tuple_word.loc[df_tuple_word["block_num"] == str(df3_b_num)]
print(df_same_bloc_num)
# get totel line of expariance
# print(df_same_bloc_num.par_num.astype(float))
try:
  max_line_num = max(df_same_bloc_num.par_num.astype(float))
except:
  max_line_num = 1

# loop for get line by line basd on par_num
p_n = 1
print(max_line_num)
while (p_n <= max_line_num):
  # creat df : for one line (filter based same par_num)
  df_par_num =df_same_bloc_num.loc[df_same_bloc_num["par_num"] == str(p_n)]
  # add word of same par_num
  ln2 = df_par_num['text'].values
  print(' '.join(ln2))
  p_n =p_n+1;

   level page_num block_num par_num  ... width height conf         text
20     5        1         2       2  ...   349     46   86  Educational

[1 rows x 12 columns]
2.0

Educational

#findHead Algo

In [22]:
Df_filter = print_pages('sample.pdf')

In [ ]:
print(Df_filter)

In [37]:
def find_head():
  # Find key heading
  key_word = ["Contact","Education","Project","Experience","Referees","Skill","About","Award","Professional","INTEREST","ACTIVITIES"]
  awoid_key = ["www","@","com","/","1","2","3","4","5","6","7","8","9","0"]
  # get guessed heading  
  pattern = '|'.join(key_word)
  guessed_heading_df =Df_filter[Df_filter['text'].str.contains(pattern,na=False, case=False)]
  # print(guessed_heading_df)
  # get the guessed heading block number
  block_num_h = guessed_heading_df["block_num"].values.tolist()
  # print(block_num_h)
  # find raws based same block_num 
  full_heading_df = Df_filter[Df_filter['block_num'].isin(block_num_h)]
  # print(full_heading_df['block_num'].values.tolist())
  # block number from original df
  same_block_no=full_heading_df['block_num'].values.tolist()
  # print(same_block_no)
  # 1 or 2 blocks items (we assume heading must on 1 or 2 words) (get 1 or 2 block word from originl df)
  must_head_blok_list = [item for item, count in collections.Counter(same_block_no).items() if (count <= 3)]
  # print(must_head_blok_list)
  # find df of must head 
  one_or_two_blok_heading = Df_filter[Df_filter['block_num'].isin(must_head_blok_list)]
  # print(one_or_two_blok_heading)

  # key waigth////// in one_or_two_blok_heading 
  one_or_two_blok_heading_w = pd.to_numeric(one_or_two_blok_heading['width'])
  one_or_two_blok_heading_h = pd.to_numeric(one_or_two_blok_heading['height'])
  # print(one_or_two_blok_heading_h.values.tolist())
  df_waigth = one_or_two_blok_heading_w * one_or_two_blok_heading_h
  # print(df_waigth.values.tolist())
  D_text_count = one_or_two_blok_heading['text'].str.len()
  # print(D_text_count.values.tolist())
  df_key_waight =df_waigth / D_text_count
  # print(df_key_waight)

  avg_key_waight = df_key_waight.min(skipna=True)
  # print(avg_key_waight)

  # ///////////////
  Df_filter_w = pd.to_numeric(Df_filter['width'])
  Df_filter_h = pd.to_numeric(Df_filter['height'])
  df_waigth_all = Df_filter_w * Df_filter_h
  # print(df_waigth_all.values.tolist())
  D_text_count_all = Df_filter['text'].str.len()
  df_key_waight_all =df_waigth_all / D_text_count_all
  # print(df_key_waight_all)
  # ///////////////

  # print(Df_filter[Df_filter['key waigth'] > 25860 ])
  Df_waight_filter = df_key_waight_all[df_key_waight_all > avg_key_waight] 
  print(Df_waight_filter)

  Df_waight_filter_text = pd.concat([Df_waight_filter, Df_filter.reindex(Df_waight_filter.index)], axis=1)
  print(Df_waight_filter_text)
  # print(Df_waight_filter_text)

  # awoid keywords
  awoid_pattern = '|'.join(awoid_key)
  awoiding_heading_df =Df_waight_filter_text[~Df_waight_filter_text['text'].str.contains(awoid_pattern,na=False, case=False)]
  print(awoiding_heading_df)

  # Df_filter.to_csv (r'/content/amilchal.csv', index = False, header=True)
  return awoiding_heading_df

    level page_num block_num par_num line_num  ...   top width height conf      text
10      5        1         2       1        1  ...   345   108     28   96     SKILL
72      5        1         9       1        1  ...  1063   102     33   96   Project
110     5        1        13       1        1  ...  1511   187     28   96  REFEREES
224     5        1        17       6        1  ...   698   106     28   96   project
331     5        1        18       3        1  ...  1276   106     28   96   project
372     5        1        19       1        1  ...  1593   139     27   93    AWARDS
381     5        1        20       1        1  ...  1688    87     24   96     Award
438     5        1        20       5        1  ...  1999    87     24   96     Award

[8 rows x 12 columns]
['2', '9', '13', '17', '18', '19', '20', '20']
['2', '2', '9', '9', '9', '9', '13', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '19', '19', '19', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20']
['2', '13', '19']
    level page_num block_num par_num  ... width height conf          text
9       5        1         2       1  ...   218     28   94     TECHNICAL
10      5        1         2       1  ...   108     28   96         SKILL
110     5        1        13       1  ...   187     28   96      REFEREES
372     5        1        19       1  ...   139     27   93        AWARDS
373     5        1        19       1  ...    58     27   92             &
374     5        1        19       1  ...   301     27   95  ACHIEVEMENTS

[6 rows x 12 columns]
9       678.222222
10      604.800000
110     654.500000
372     625.500000
373    1566.000000
374     677.250000
dtype: float64
604.8
9       678.222222
110     654.500000
171     803.250000
172     648.000000
372     625.500000
373    1566.000000
374     677.250000
dtype: float64
               0 level page_num block_num  ... width height conf          text
9     678.222222     5        1         2  ...   218     28   94     TECHNICAL
110   654.500000     5        1        13  ...   187     28   96      REFEREES
171   803.250000     5        1        16  ...   119     27   96          WORK
172   648.000000     5        1        16  ...   240     27   96    EXPERIANCE
372   625.500000     5        1        19  ...   139     27   93        AWARDS
373  1566.000000     5        1        19  ...    58     27   92             &
374   677.250000     5        1        19  ...   301     27   95  ACHIEVEMENTS

[7 rows x 13 columns]
               0 level page_num block_num  ... width height conf          text
9     678.222222     5        1         2  ...   218     28   94     TECHNICAL
110   654.500000     5        1        13  ...   187     28   96      REFEREES
171   803.250000     5        1        16  ...   119     27   96          WORK
172   648.000000     5        1        16  ...   240     27   96    EXPERIANCE
372   625.500000     5        1        19  ...   139     27   93        AWARDS
373  1566.000000     5        1        19  ...    58     27   92             &
374   677.250000     5        1        19  ...   301     27   95  ACHIEVEMENTS

[7 rows x 13 columns]
[]

In [ ]:
df_last_values = one_or_two_blok_heading["key waigth"]
print(df_last_values)
Data_point_m= df_last_values.rolling(2, min_periods=1).mean()
Data_point_m_D = Data_point_m.squeeze().tolist()
round_to_whole = [round(num) for num in Data_point_m_D]
print(round_to_whole)
may_reduse=((sum(round_to_whole) / len(round_to_whole)) *0.25)
moving_avg = ((sum(round_to_whole) / len(round_to_whole)))
may_lower = moving_avg - may_reduse
if (may_lower < min(df_last_values)):
  avg_key_waight = min(df_last_values)
else:
  avg_key_waight = min(round_to_whole)

In [ ]:
df = pd.DataFrame({'A': [5,6,3,4], 'B': [1,2,3,5]})
print(df['A'])
print(df[df['A'].isin([3, 6])])

In [ ]:
print(Df_filter[Df_filter['text'].str.contains("EDUCATION",na=False, case=False)])

#save df1

In [ ]:
table_Cv = pytesseract.image_to_data(Image.open(filename))
# print(table_Cv.shape)
table_Cv_df = pd.DataFrame([x.split('\t') for x in table_Cv.split('\n')])
print(table_Cv_df)
table_Cv_df.to_csv (r'/content/export_dataframe.csv', index = False, header=True)

In [ ]:
print(pytesseract.image_to_data(Image.open(filename)))